<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/jdbc_schema?serverTimezone=Europe/Warsaw</property>
        <property name="connection.username">root</property>
        <property name="connection.password">N94102511726mz</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="format_sql">false</property>
        <property name="use.sql_comments">true</property>
        <mapping class="com.sda.entity.Dog"/>
        <mapping class="com.sda.entity.Employee"/>
        <mapping class="com.sda.entity.Cat"/>
        <mapping class="com.sda.entity.Bird"/>
        <mapping class="com.sda.entity.Tiger"/>
        <mapping class="com.sda.entity.Husband"/>
        <mapping class="com.sda.entity.Wife"/>
        <mapping class="com.sda.entity.Client"/>
        <mapping class="com.sda.entity.Book"/>

    </session-factory>
</hibernate-configuration>